<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Hello, world.</h1>
    <button onclick="downloadFile()">Down</button>
    <dd id="data_show"></dd>
</body>
<script>
function downloadFile() {
    var xhr = new XMLHttpRequest()
    xhr.addEventListener("readystatechange", showContent, false)
    // xhr.setRequestHeader("content-type", "application/json")
    xhr.open("POST", "{% url 'ajax_server:get_data' %}", true)
    xhr.send(JSON.stringify({csrfmiddlewaretoken: "{{ csrf_token }}"}))

    function showContent(){
        if(xhr.readyState == 4){
            if (xhr.status == 200){
                document.getElementById("data_show").innerHTML = xhr.response
            } else {
                document.getElementById("data_show").innerHTML = xhr.status                
            }
        }
    }
}
</script>
</html>